body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #333333;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.hero {
    background-color: #ffcc00;
    text-align: center;
    padding: 10px 10px;
    color: #000000;
  }
  
  .hero img {
    flex: content;
    max-width: 10%;
  }
  
  .hero h2 {
    margin: 0;
    font-size: 2.5em;
  }
  
  .hero p {
    font-size: 1.2em;
  }
  
.section-content {
    padding: 20px;
    text-align: center;
}

.section-content h2 {
    font-size: 2em;
}

.section-content ul {
    text-align: left;
    display: inline-block;
    margin: 0 auto;
}

.section-content figure {
    margin: 20px 0;
}

.section-content img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

form label {
    text-align: left;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

form button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.app {
    padding: 20px;
    text-align: center;
  }
  
  .app h2 {
    font-size: 2em;
  }

.download-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
  }
  
  footer p {
    margin: 5px 0;
  }
  
  @media (max-width: 768px) {
    nav ul {
      display: none;
    }
    
    nav button {
      display: block;
    }
  }